<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>
    Mi correo es {{ correo }}
  </h2>
  <img width="300" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<div style="margin: 0 auto;">
<table border=»1″ style="HEIGHT:100%;WIDTH:100%;" >
  <tr>
    <th>Nombre Planeta</th>
    <th>Distancia al sol</th>
    <th>Cantidad de Lunas</th>
    <th>masa</th>
  </tr>
  <tr>
    <td>Tierra</td>
    <td>149,6 millones km</td>
    <td>1</td>
    <td>5,972 × 10^24 kg</td>
  </tr>
  <tr>
    <td>Marte</td>
    <td>227,9 millones km</td>
    <td>2</td>
    <td>6,39 × 10^23 kg</td>
  </tr>
  <tr>
    <td>Saturno</td>
    <td>1,434 miles de millones km</td>
    <td>53</td>
    <td>5,683 × 10^26 kg</td>
  </tr>
  <tr>
    <td>Jupiter</td>
    <td>778,5 millones km</td>
    <td>61</td>
    <td>1,898 × 10^27 kg</td>
  </tr>
  <tr>
    <td>Mercurio</td>
    <td>1,434 miles de millones km</td>
    <td>2</td>
    <td>57,91 millones km</td>
  </tr>
</table>
</div>

<router-outlet></router-outlet>